name: Configure merge settings
description: Allow only squash merges

condition:
  or:
    - not:
        repo_setting_equals:
          setting: allow_merge_commit
          value: false
    - not:
        repo_setting_equals:
          setting: allow_squash_merge
          value: true
    - not:
        repo_setting_equals:
          setting: allow_rebase_merge
          value: false

actions:
  - type: update_repo_settings
    settings:
      allow_merge_commit: false
      allow_squash_merge: true
      allow_rebase_merge: false
