name: Renovate

on:
  push:
    branches: [main]
    paths: [renovate.json5]
  pull_request:
    branches: ["main"]
    paths: [renovate.json5]

permissions:
  contents: read

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false

      - name: Validate Renovate configuration
        run: npx --yes --package renovate -- renovate-config-validator
